/* 
    Created on : 19 mars 2016, 17:45:43
    Author     : sylvain
*/


/************************************************************************
Formulaire changement de mot de passe
 ************************************************************************/

.formulaireLigneDesc {
    margin:  3px 10px 5px 10px;
}
.large{
    width: 200px;
}

#msg {
    color:  brown;
}

.mrp {
    margin-right: 10px;
}

.mrp:invalid {
    background-color:  #aa6666;
}

.mrp:valid {
    background-color:  #55aa55;
}


/************************************************************************
navigation du menu
 ************************************************************************/
nav.principal {
    display : flex;
    flex-direction : row;
    justify-content: space-between;
    margin-top: 10px;
}


