/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ 
@font-face {
font-family:"Rock Salt";
src:url("RockSalt.eot?") format("eot"),url("RockSalt.woff") format("woff"),url("RockSalt.ttf") format("truetype"),url("RockSalt.svg#RockSalt") format("svg");
font-weight:normal;
font-style:normal;
}
